#!/bin/bash
source /usr/local/opt/nvm/nvm.sh

# Currently opting to use an alias rather than fix .vimrc souring issue.
# alias vi="vim -u $DOTFILES/vim/vimrc"

alias vimrc="vim ~/.vimrc"
alias bashp="vim ~/.bash_profile"
alias bashrc="vim ~/.bashrc"
alias penv="vim ~/.private-env"
alias sb="source ~/.bash_profile"

# Remove a swap files
alias rmswap="rmc ./**/.*.sw*"

# Ruby/Rails Specific
alias dcopa='git diff origin/master --name-only --diff-filter=ACMRTUXB | grep '\''.*.rb$'\'' | xargs bundle exec rubocop -a'
alias bers="bundle exec rspec"
alias berc="bundle exec rails console"

# Copy a file to clipboard
function copy() {
  cat $@ | pbcopy
}

# DRAUPNIR Configs
function cleanup_draupnir() {
  for i in $(draupnir instances list | cut -d" " -f1); do draupnir instances destroy $i; done
}

# -> Frontier config.
function drfr(){
  eval $(draupnir new)
  export PGDATABASE=gc_banking_integrations_live
  eval $(./bin/f-draupnir)
  bundle exec spring stop
  bundle exec rails c
}

# -> Payments-service config.
function drps(){
  eval $(draupnir new)
  export PGDATABASE=gc_paysvc_live
  bundle exec spring stop
  bundle exec rails c
}

function drns(){
  eval $(draupnir new)
  export PGDATABASE=gc_nexus_live
  bundle exec spring stop
  bundle exec rails c
}
function pys(){ cd && cd gc/payments-service
}
function frnt(){ cd && cd gc/frontier
}
function nxs(){ cd && cd gc/nexus
}
function obg(){ cd && cd gc/open-banking-gateway

}
